<!DOCTYPE html>
<html>
  <head>
    <title>Centro de Operaciones</title>
  </head>
  <body>
    <h1>Centro de Operaciones - Admin</h1>

    <a href="/admin/posts/new">Crear nuevo post</a>
    <br /><br />
    <a href="/admin/posts">Gestionar posts existentes</a>

    <br /><br />
    <a href="/">Volver al blog</a>
  </body>
</html>
